**1. What are Data Structure and Why are they important?**

In [ ]:
# Data structure: are the way of organizing or storing the data so that they can accessed and modifying efficiently.
# Importance of Data Structure:
# 1. helps to organize large amount of data.
# 2. makes the code easier to write, maintain and read
# 3. data structure can improve pragram's speed and can improve memory usage.

**2. Explain the difference between mutable and immutable data types with examples.**

In [50]:
# Mutable Object: the object that can be modify after creation.
# example: list, sets, dictionary
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

# Imutable Object: the object that can not be modify after creation. We have to create a new object to modify the original. example -> string, tuples, etc.
x = (1, 2, 3)
x[0] = 20 # this will show the error becouse it is imutable

[1, 2, 3, 4]

**3. What are the main differences between lists and tuples in Python**

In [ ]:
# Ans - difference between list and tuple :
# list is mutable and tuple is immutable.
# when we need to change the data we use the LIST but when there is no need to chnage the data tuple is used.
# Tuple is more efficient than list due to its immutability.
# list is represented by [] and tuple is represented by ().

**4. Describe how dictionaries store dataP**

In [ ]:
# Ans - Dictionaries store data in key value pair. it generate unique hash() for every keys and this hash() decide the location of memory and store that key value there.

**5. Why might you use a set instead of a list in Python**

In [ ]:
# Ans - 1. Using set make pragram faster than list,
#       2. Set remove duplicate value automatically. where List can have multiple duplicate.
#       3. Using Set is more efficient in mathematical operation than list.

6. What is a string in Python, and how is it different from a list ?

In [ ]:
# Ans- difference between string and list

# string:
# 1. string is a sequence of characters.
# 2. string is immutable.
# 3. string are used to store mainly text and messages.
# 4. string are used for text manipulation only.

# List:
# 1. list can store any type of data.
# 2. List is mutable.
# 3. A list is used to store a group of data, which can also be of different types.

7. How do tuples ensure data integrity in Python ?

In [ ]:
# Ans - Tuples ensure data integrity in Python because they are immutable. once they created their element can not be changed, remove or add.
#       due to its unchangable property the data inside tuple stays fixed and rigid and protect from accidental changes.

8.  What is a hash table, and how does it relate to dictionaries in Python ?

In [ ]:
# Ans - A hash table is data structure that store data in key valued pair. it works converting the key value into unique number called hash which decide the corresponding data where it stored.
# dictionaries are implemented using hash tables.
# . Python uses the key’s hash to quickly find the exact memory location which allows for very fast data retrieval, insertion, and deletion.
# So, behind the scenes, a dictionary uses a hash table to efficiently manage and access data based on keys.

9. Can lists contain different data types in Python ?

In [ ]:
# Ans - yes .

10.  Explain why strings are immutable in Python ?

In [ ]:
# Ans - string can not be changed or modified after creation that's why string is immutable.
# and to ensure safety and performance of program. it's can not be changed accidently means if string same string is used in different place and changing in one string won't effect others.
# immutable strings allows to reuse of same memory.

11. P What advantages do dictionaries offer over lists for certain tasks

In [ ]:
# Ans - 1. In dictionary you can access data directly but in list you have to access all tha data.
#       2. dictionary uses key value paired to access the data and list uses the indexes.
#       3. dictionary let you organize the data clearlly and meaningful.
#       4. you can make links with dictionary but can not with list.

12.  Describe a scenario where using a tuple would be preferable over a list ?

In [ ]:
# ANS - consider a scenario where in program you have to put coordinates of city, here using a tuple is more convenient than using list

# lest suppose latitude and longitude of panipat city
city_panipat = (25.333, 25.2222)
# if someone tries to change it , will show error
city_panipat[0] = 25.2223 # this will show an error

# but with list the value will be changed
city_panipat = [25.333, 25.2222]
city_panipat[0] = 25.2223
print(city_panipat) # output will be [25.2223, 25.2222]

13. How do sets handle duplicate values in Python ?

In [ ]:
# Ans - In Python set automatically remove the duplicate value. even you enter the duplicate value it ignores that value
# let suppose  i organize the concert in my town and people registring multiple time but i need oly one copy of each person.

name = ["anand", "aman", "khushbu", "anand", "ankit", "ankit"]
# removing duplicates
unique_name = set(name)
print(unique_name) # output: {'anand', 'khushbu', 'ankit', 'aman'}

{'anand', 'khushbu', 'ankit', 'aman'}

14.  How does the “in” keyword work differently for lists and dictionaries ?

In [ ]:
# Ans - the "in" keyword used to find something exist or not for example.
my_list = [1, 2, "anand", "ajay"]
print("anand" in my_list) # output: true

# in dictionary:
person = {"name": "anand", "age": 22, "city": "panipat"}
print("name" in person) # output: true

True
True

15. Can you modify the elements of a tuple? Explain why or why not ?

In [ ]:
# Ans - you can not modify the element of tuple because tuple is mutable which makes it unchangable and protected. once tuple is created the content in it can not be changed.
# reason : it helps us to kepp data secure and protected.

16.  What is a nested dictionary, and give an example of its use case ?

In [ ]:
# Ans - A Nested Dictionary is a dictionary inside another dictionary
# it is used when one item has multiple related values grouped together. for example:

# Suppose you want to store details of multiple students

students = {
    "student1" : {"name": "anand", "age": 22, "city": "panipat"},
    "student2" : {"name": "aman", "age": 23, "city": "delhi"},
    "student3" : {"name": "ankit", "age": 23, "city": "delhi"},
}
# here student is main dictionary and student1, student2, student3 are key and name, age, city with detail is another dictionary which is called nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary ?

In [ ]:
# Ans - Time complexity of accessing elements in a dictionary is O(1) which means its very fast because dictionaries use a hash table to find values quickly by key
# and in worse case it is 0(n) which is slow which occure during hash collision.

18. In what situations are lists preferred over dictionaries ?

In [ ]:
# Ans - if data is rquired in specific order than we use list over dictionary.
# for example:

# let i am going for shopping and i have grocery list,
grocery = ["egg", "potato", "tomato", "egg"]
# and here order matter becouse i want to buy gracery all in order i have listed and egg are written two time becouse i want two packets.
# and i need only item name no much information needed here.

# but if i need to list grocery with quantity than i have to use the dictionary over list.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval ?

In [ ]:
# Ans - because in dictionary you can access the data only when you know thw key value. dictionary does not have index system.
# Dictionaries are designed for fast lookup by key, not for order-based data access.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

In [ ]:
# Ans - difference between a list and a dictionary in terms of data retrieval.
# 1. list has index system to access data and dictinary has key value to access the data.
# 2. there is need to remember the position of item in list and key name of item in dictionary.
# 3. list is ordered and dictionary is unordered.
# 4. list allows duplicate value and dictionary also allows but you have to remember the key name.

# Practicle Questions

1.  Write a code to create a string with your name and print it ?

In [ ]:
# Write a code to create a string with your name and print it

my_name = "Anand Tiwari"
# print the name

print(f"My name is:", my_name)

My name is: Anand Tiwari

2. Write a code to find the length of the string "Hello World".

In [ ]:
# to find the length of the string "Hello World".

my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Original string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
# Original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
# Original list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Original list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11. . Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_last = colors[-2]

# Print the result
print("Second-to-last element:", second_last)

Second-to-last element: blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
minimum = min(numbers)

# Print the result
print("Minimum number:", minimum)

Minimum number: 5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of 'cat'
index_of_cat = animals.index('cat')

# Print the result
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Create a tuple with fruits
fruits = ("apple", "banana", "mango")

# Check if 'kiwi' is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Create a set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print("Set:", my_set)

Set: {'a', 'c', 'b'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# Define the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the empty set
print("Set after clearing:", numbers)

Set after clearing: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4
my_set.remove(4)

# Print the updated set
print("Updated set:", my_set)

Updated set: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
# Create a dictionary
person = {
    "name": "Rahul",
    "age": 25,
    "city": "Delhi"
}

# Print the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Rahul', 'age': 25, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [42]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = person['name']

# Print the value
print("Name:", name_value)

Name: Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [43]:
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [44]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" key exists
if "city" in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [45]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('a', 'b', 'c')

# Create a dictionary
my_dict = {'name': 'Ravi', 'age': 24, 'city': 'Mumbai'}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Ravi', 'age': 24, 'city': 'Mumbai'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [46]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [41, 65, 88, 91, 96]

28. Write a code to create a list with strings and print the element at the third index.

In [47]:
# Create a list with strings
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Print the element at the third index (index 3)
print("Element at index 3:", fruits[3])

Element at index 3: mango

29.  Write a code to combine two dictionaries into one and print the result.

In [48]:
# Define two dictionaries
dict1 = {'name': 'Ankit', 'age': 28}
dict2 = {'city': 'Jaipur', 'country': 'India'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Ankit', 'age': 28, 'city': 'Jaipur', 'country': 'India'}

30.  Write a code to convert a list of strings into a set.

In [49]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "apple"]

# Convert the list into a set
string_set = set(string_list)

# Print the set
print("Converted set:", string_set)

Converted set: {'cherry', 'apple', 'banana'}

## The End